h1 {
  color: black;
}

body {
  color: #faf9f6;
}
.notification.block {
  display: block;
}
.notification {
  display: none;
  position: absolute;
  text-align: center;
  color: black;
  top: 1px;
  right: 1px;
  width: 200px;
  height: 50px;
}

.title {
  text-align: center;
}

.hidden {
  display: none !important;
}

ul {
  list-style-type: none;
  display: block;
  width: 50%;
  margin: auto;
}

li {
  list-style: none;
}

.message-list {
  flex-direction: column;
  gap: 10px;
}

.message {
  border: 1px;
  background-color: whitesmoke;
  color: black;
}

.announcment {
  font-size: 20px;
  color: red;
}

.send-container {
  display: flex;
  justify-content: center;
}

.own-message {
  text-align: right;
}

.other-message {
  text-align: left;
  background-color: white;
}
